<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.mailchimp.automation.testcases.CampaignPageTest"/>
      <class name="com.mailchimp.automation.testcases.SignUpPageTest"/>
      <class name="com.mailchimp.automation.testcases.TestPageBase"/>
      <class name="com.mailchimp.automation.testcases.DashBoardPageTest"/>
      <class name="com.mailchimp.automation.testcases.ListPageTest"/>
      <class name="com.mailchimp.automation.testcases.HomePageTest"/>
      <class name="com.mailchimp.automation.testcases.AnnotationTest"/>
      <class name="com.mailchimp.automation.testcases.LoginPageTest"/>
      <class name="com.mailchimp.automation.testcases.TemplatePageTest"/>
      <class name="com.mailchimp.automation.testcases.AboutPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
