<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MailChimp_Demo_QA_Automation_Test_Report" verbose="1" preserve-order="true">
	<listeners>
        <listener class-name="com.mailchimp.automation.reports.CustomReporter" />
    </listeners>
    
  <!--   <test name="Test Automation MailChimp">
        <classes>
        	<class name="com.mailchimp.automation.testcases.HomePageTest"/>       	  	
        </classes>
    </test>
    
   <test name="Test Automation MailChimp2">
        <classes>        
        	<class name="com.mailchimp.automation.testcases.LoginPageTest"/>   	
        </classes>
    </test>  -->
    
   <!--  <test name="Test Automation MailChimp3">
        <classes>
        	<class name="com.mailchimp.automation.testcases.SignUpPageTest"/>    	  	
        </classes>
    </test> -->
 
 <!--      <test name="Test Automation MailChimp4">
        <classes>        
        	<class name="com.mailchimp.automation.testcases.DashBoardPageTest"/>   	
        </classes>
    </test>  -->
    
     <test name="Test Automation MailChimp5">
        <classes>        
        	<class name="com.mailchimp.automation.testcases.CampaignPageTest"/>   	
        </classes>
    </test> 
    <!-- 
     <test name="Test Automation MailChimp6">
        <classes>        
        	<class name="com.mailchimp.automation.testcases.ListPageTest"/>   	
        </classes>
    </test> 
    
     <test name="Test Automation MailChimp7">
        <classes>        
        	<class name="com.mailchimp.automation.testcases.TemplatePageTest"/>   	
        </classes> 
    </test>  -->
    
</suite>